<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Tutorial of Develop</title>
	<link rel="stylesheet" th:href="@{/css/user/register.css}">
</head>
<body>
	<h1>User情報管理システム</h1>
	<h2>User登録</h2>
	<form method="post" th:action="@{/user/register}" th:object="${user}">
		<label for="name">名前</label>
		<input type="text" th:field="*{name}" th:errorclass="err">
		<span th:errors="*{name}" class="err"></span>
		<br>

		<label for="gender">性別</label>
		<select th:field="*{gender}" th:errorclass="err">
			<option value="" th:text="選択してください" th:selested="${user.gender == ''}">
			<option
				th:each="item:${T(com.techacademy.entity.User.Gender).values()}"
				th:value="${item}" th:text="${item}" th:selected="*{gender} == ${item}">
		</select>
		<span th:errors="*{gender}" class="err"></span>
		<br>

		<label for="age">年齢</label>
		<input type="text" th:field="*{age}" th:errorclass="err">
		<span th:errors="*{age}" class="err"></span>
		<br>

		<label for="email">メールアドレス</label>
		<input type="text" th:field="*{email}" th:errorclass="err">
		<span th:errors="*{email}" th:class="err"></span>
		<br>
		<br>

		<input type="submit" value="登録実行">
		<a th:href="@{/user/list}">登録せずに一覧に戻る</a>
	</form>
</body>
</html>